{% load otree %}

    <h3>
        Your task (I)
    </h3>

    <p>
        In part 1, you are paired with another participant in the room.
        This is someone you do not know and who will remain anonymous.
        Throughout part 1 you will be matched to the same other participant.
    </p>

    <p>
        Your behavior in part 1 will determine your own payoff, as well as the payoff of the participant you are paired with.
        These are the only earnings that the participant you are paired with obtains in part 1.
    </p>

    <p>
        This participant knows that another person in the room determines his/her pay, but does not know who that person is, or how these payoffs were generated.
    </p>

    <p>
        The participant you are paired with <strong>can not</strong> affect your payoffs.
    </p>

