{% load otree %}
<head>
<style>
#payoff {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 75%;
}

#payoff td, #payoff th {
  border: 1px solid #ddd;
  padding: 8px;  text-align: center;
}

#payoff tr:nth-child(even){background-color: #f2f2f2;}

#payoff tr:hover {background-color: #ddd;}

#payoff th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #4169E1;
  color: white;
}
</style>
</head>

    <h3>
        Payoff
    </h3>

        <p>
            If the number that appears on the screen and the number that you report are the same number (“a double”),
            you and the participant you are paired with will be paid according to the following table:
        </p>

        <center>
            <table id="payoff">
              <tr>
                <th>Number on the screen</th>
                <th>Your report</th>
                <th>Your payoff</th>
                <th>Other participant's payoff</th>
              </tr>
              <tr>
                <td>1</td>
                <td>1</td>
                <td>1 Euro</td>
                <td>1 Euro</td>
              </tr>
              <tr>
                <td>2</td>
                <td>2</td>
                <td>2 Euro</td>
                <td>2 Euro</td>
              </tr>
              <tr>
                <td>3</td>
                <td>3</td>
                <td>3 Euro</td>
                <td>3 Euro</td>
              </tr>
              <tr>
                <td>4</td>
                <td>4</td>
                <td>4 Euro</td>
                <td>4 Euro</td>
              </tr>
              <tr>
                <td>5</td>
                <td>5</td>
                <td>5 Euro</td>
                <td>5 Euro</td>
              </tr>
              <tr>
                <td>6</td>
                <td>6</td>
                <td>6 Euro</td>
                <td>6 Euro</td>
              </tr>
            </table>
        </center>

        <br> </br>
        <p>
            If the number that appears on the screen and the number that you report are two different numbers (“no double”),
            you and the participant you are paired will earn 0 euros.
        </p>

        <p>
            The task has multiple rounds. At the end of the experiment, one round will be randomly selected to be paid out.
            Your payoff and the payoff of the participant you are paired with in part 1 will be determined by the number that appeared on the screen and your report in that round.
        </p>
