{% load otree %}
    <h3>
        Numbers appearing on the screen (III)
    </h3>

     <p>
         In each round of <strong>your</strong> task, you will see the number that <strong>a participant in the role of the “first mover” reported in that round</strong>.
     </p>

    <p>
        Note that:
    </p>

    <ol>
        <li>Your behavior <strong>does not</strong> affect the payoff of the first mover, nor the payoffs of the second mover.</li>
        <li>Your behavior <strong>only</strong> affects the person you are paired with.</li>
        <li>The other participants are <strong>not informed</strong> about your reports in the task.</li>
    </ol>








