{% extends "global/Page.html" %}
{% load otree static %}

{% block content %}
<style>

/* Need this part to hide the debug info table in the bottom during the demo */
.hide_debug {
    width: 100%;
}
body {
    background-color: black;
}

.coin{
    width:100%
}

/* Container holding the image and the text */
.container {
    position: relative;
    text-align: center;
}

.coins_table {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
}

.values_left {
    color: white;
    font-size: calc((1em + 1vw)*1.5);
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
}

.values_right {
    color: white;
    position: absolute;
    font-size: calc((1em + 1vw)*1.5);
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
}

.cross_fix {
    color: white;
    font-size: calc((1em + 1vw)*1.5);

}

.next_button {
    visibility: hidden
}



/* Need this part to hide the debug info table in the bottom during the demo */
.hide_debug {
    width: 100%;
}

body {
    background-color: black;
}

.text {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    font-size: calc((1em + 1vw)*1.5);
    color: white;
}

.next_button {
    visibility: hidden
}
</style>

<body>
    <div class="hide_debug">
        <p class="text" id="feedback">Do you accept the gamble?</p>
        <p class="text" id="hint" style="top: 60%; font-size: calc((1em + 1vw)"> Press ↑ to accept or ↓ to reject the gamble</p>
    </div>
    <button class="next_button btn btn-primary btn-large" id="Button">Next</button>
    <input type="hidden" id="dec" name="dec"/>
    <input type="hidden" id="RT" name="RT"/>
</body>

<script language = "javascript" type = "text/javascript">
    document.getElementById("hint").style.visibility = "hidden";
    if ({{dec}} == 1)  {
    document.getElementById("feedback").innerHTML ="you rejected the gamble";
    } else if ({{dec}} == 2)  {
    document.getElementById("feedback").innerHTML ="you accepted the gamble";
    } else {
    document.getElementById("feedback").innerHTML ="respond faster";
    document.getElementById("hint").style.visibility = "visible";
    }
    var Button = document.getElementById("Button");
    setTimeout(function(){Button.click() ;}, 2000)
</script>
{% endblock %}