{% extends "global/Page.html" %}
{% load otree static %}


{% block app_styles %}
    <style>
        {% include 'Instructions/intro-css.html' %}
    </style>
{% endblock %}

{% block app_scripts %}
    <script>
        {% include 'Instructions/intro-js.html' %}
    </script>
{% endblock %}

{% block content %}



<div class="slideshow-container">

    <!-- Full-width slides/quotes -->
    <div class="mySlides">
        <p class="Title"> Step 1 </p>
        <p class="Content"> 
            In the following study you are about to make decisions of whether to accept a lottery or not. These lotteries
            will give you with equal probabilities (fifty-fifty) a positive or negative outcome. You are going to choose
            whether to accept or reject one a total of 48 different lotteries. The overall duration of the study should
            be of no more than 10-15 minutes. Each outcome in these lotteries consists of a positive or negative amount
            of points (1 point = 0.19 EUR). In the end, one of these lotteries will be randomly chosen and added
            (or subtracted) to your initial show-up fee, that you received for participating in this study.    
        </p>
        


        <img class="GIF" src="" >
    </div>
  
    <div class="mySlides">
      <q>But man is not made for defeat. A man can be destroyed but not defeated.</q>
      <p class="author">- Ernest Hemingway</p>
    </div>
  
    <div class="mySlides">
      <q>I have not failed. I've just found 10,000 ways that won't work.</q>
      <p class="author">- Thomas A. Edison</p>
    </div>
  
    <!-- Next/prev buttons -->
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
  </div>
  
  <!-- Dots/bullets/indicators -->
  <div class="dot-container">
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
  </div>

    {% next_button %}

{% endblock %}
