{% load otree %}

    <h3>
        Your task
    </h3>

    <p>
        In part 1, you are a <strong>passive</strong> participant.
    </p>

    <p>
        This means that you can not affect your own payoff in part 1.
        Your payoff in part 1 depends on the behavior of another participant in the room, and will be between 0 and 6 euros.
        You will learn about the amount you earn in part 1 at the end of the experiment.
    </p>

    <p>
        In the meantime, we will ask you to guess how participants behave in two tasks.
        Both of <strong>these task do not affect your payoff</strong>.
        For that, you will first read about one task some participants engaged in, and guess how they behaved in that task.
        Then you will read about a second task other participants engage in, and guess how they behave in that task.
    </p>
