{% load otree %}

    <h3>
        Task of the other participants
    </h3>

    <p>
        Participants face an individual task.
    </p>
    <p>
        The task has multiple rounds. Each round of the task goes as follows:
    </p>

    <ol>
        <li>The participant sees a number, between 1 and 6, appearing on the computer screen.
            The participant knows that not all the numbers have the same likelihood to appear on the screen.
            It might be that some numbers are more common than others.
            Further, it might be that the participant sees the same number on the screen in many consecutive rounds.</li>
        <li>Then, the participant rolls a die and is asked to report the die roll outcome.</li>
        <li>At the end of each round, the participant sees the number that appeared on the screen,
            his/her own report, and the payoff associated with that round. </li>
    </ol>

    <p>
        On the next page you will learn how the payoff is determined.
    </p>
