{% load otree %}

    <h3>
        Task of the other participants
    </h3>

    <p>
        Participants are paired in groups of 2 and they keep the same partner throughout the task.
    </p>

    <p>One of the two participants in a pair is assigned to the role of the “first mover” and the other is assigned to the role of the “second mover”.
       Participants keep their role throughout the task.</p>

    <p>
        The task has multiple rounds. Each round of the task goes as follows:
    </p>

    <ol>
        <li>The first mover rolls a die and is asked to report the die roll outcome.</li>
        <li>After that, the second mover sees the number the first mover reported.</li>
        <li>Then, the second mover rolls a die and is asked to report the die roll outcome.</li>
        <li>At the end of each round, the first mover and the second mover see both reported outcomes and the payoff associated with that round.</li>
    </ol>

    <p>
        On the next page you will learn how the payoff is determined.
    </p>
